/**
 * check if the color name is a light color
 */

isLight(color) {
  if (color == 'white' || color == 'light' || color == 'gray' || color == 'warning') {
    return true;
  }
  return false;
}

/**
 * convert values to rem
 */

rem(value) {
    u = unit(value);
    if (u is 'px') {
        return unit(value/16, 'rem');
    } else {
        return unit(value, u);
    }
}
