/**
 * media queries up mixins
 */

responsive-up(breakpoint)
  @media screen and (min-width: breakpoint)
    {block}

xl-up()
  +responsive-up($screen-xl)
    {block}

lg-up()
  +responsive-up($screen-lg)
    {block}

md-up()
  +responsive-up($screen-md)
    {block}

sm-up()
  +responsive-up($screen-sm)
    {block}

xs-up()
  +responsive-up($screen-xs)
    {block}

/**
 * media queries down mixins
 */

responsive-down(breakpoint)
  @media screen and (max-width: breakpoint - 0.02px)
    {block}

xl-down()
  +responsive-down($screen-xl)
    {block}

lg-down()
  +responsive-down($screen-lg)
    {block}

md-down()
  +responsive-down($screen-md)
    {block}

sm-down()
  +responsive-down($screen-sm)
    {block}

xs-down()
  +responsive-down($screen-xs)
    {block}

/**
 * sizes modifier mixin
 */

generate-sizes()
  &.is-xs
    font-size: $font-xs
  &.is-sm
    font-size: $font-sm
  &,
  &.is-md
    font-size: $font-md
  &.is-lg
    font-size: $font-lg
  &.is-xl
    font-size: $font-xl
