@import '../../../../neomorphism.styl'

.navbar div.links,
.sidebar,
.theme-container
  background-color: $light

.content__default
  min-height: calc(100vh - 150px)

.sidebar
  box-shadow: $shadow-sm


.search-box input
  @extends .input
  margin-bottom: 0