.shadow-no
  box-shadow: none

.shadow-xs
  box-shadow: $shadow-xs

.shadow-sm
  box-shadow: $shadow-sm

.shadow-md
  box-shadow: $shadow-md

.shadow-lg
  box-shadow: $shadow-lg

.shadow-xl
  box-shadow: $shadow-xl