/**
 * colors
 */
$magenta ?= #F2248F
$blue ?= #2451F2
$cyan ?= #3D8EF2
$green ?= #36D9B0
$yellow ?= #FFCF0D
$orange ?= #FF6F00
$red ?= #F22435
$aqua ?= #00FCFE

/**
 * Graysacle
 */
$black ?= #000000
$dark ?= #383555
$slategray ?= #9D99BC
$gray ?= #E9E8F2
$light ?= #E0EAF9
$white ?= #FFFFFF

/**
 * theme colors
 */
$primary ?= $blue
$secondary ?= $magenta
$danger ?= $red
$success ?= $green
$warning ?= $yellow
$info ?= $cyan
$link ?= $blue
$link-hover ?= $black

/**
 * Gradient colors
 */
$grad-direction ?= 45deg
$grad-primary ?= $blue, $magenta
$grad-secondary ?= $magenta, $orange
$grad-success ?= $green, $magenta
$grad-danger ?= $red, $magenta
$grad-warning ?= $yellow, $green
$grad-info ?= $aqua, $blue
