$font-size = (12px 14px 16px 18px 20px 24px 28px 32px 42px 48px 54px 60px 68px 76px)

/**
 * font and elements sizes
 */
$font-xs ?= rem($font-size[0])
$font-sm ?= rem($font-size[1])
$font-md ?= rem($font-size[2])
$font-lg ?= rem($font-size[3])
$font-xl ?= rem($font-size[4])
$font-xxl ?= rem($font-size[5])


/**
 * Device Breakpoint
 */
$screen-xs ?= 0
$screen-sm ?= 768px
$screen-md ?= 991px
$screen-lg ?= 1360px
$screen-xl ?= 1920px

/**
 * container sizes
 */
$container-xs ?= 100%
$container-sm ?= $screen-sm - (22 * 2)
$container-md ?= $screen-md - (22 * 3)
$container-lg ?= $screen-lg - (22 * 4)
$container-xl ?= $screen-xl - (22 * 5)

/**
 * typography
 */
$lineheight ?= 1.1875
$font-weight-light ?= 300
$font-weight-normal ?= 400
$font-weight-medium ?= 500
$font-weight-semi-bold ?= 600
$font-weight-bold ?= 700
$font-weight-heavy ?= 800
$font-weight-super ?= 900

/**
 * grid
 */
$columns ?= 12
$dir ?= ltr
$gutter ?= rem(10px)
$gutter-full ?= 8vw
$round-digits ?= 4
/*
 * style
 */
$margin ?= 1em
$padding-sm ?= 0.2em
$padding ?= 0.6em
$padding-lg ?= 1em
$padding-xl ?= 1.4em
$padding-xxl ?= 1.8em
$padding-px ?= 20px
$modal-spacing ?= 2em
$border-radius-sm ?= 4px
$border-radius ?= 8px
$border-radius-lg ?= 12px
$border ?= 1px
$outline ?= 3px
$outline-opacity ?= 25%
$element-lineheight ?= 1.3
/**
 * Shadows
 */
$shadow-dark-intense ?= 30%
$shadow-light-intense ?= 50%
$shadow-xs ?= 1px 1px 2px alpha($dark, $shadow-dark-intense), -1px -1px 2px alpha($white, $shadow-light-intense)
$shadow-sm ?= 2px 2px 4px alpha($dark, $shadow-dark-intense), -2px -2px 4px alpha($white, $shadow-light-intense)
$shadow-md ?= 4px 4px 8px alpha($dark, $shadow-dark-intense), -4px -4px 8px alpha($white, $shadow-light-intense)
$shadow-lg ?= 6px 6px 12px alpha($dark, $shadow-dark-intense), -6px -6px 12px alpha($white, $shadow-light-intense)
$shadow-xl ?= 8px 8px 16px alpha($dark, $shadow-dark-intense), -8px -8px 16px alpha($white, $shadow-light-intense)

$shadow-emboss ?= inset 1px 1px 1px alpha($light, $shadow-light-intense)
$shadow-deboss ?= inset 2px 2px 4px alpha($dark, $shadow-dark-intense), inset -2px -2px 4px alpha($white, $shadow-light-intense), inset 0 0 100px alpha($dark, 2%)
$shadow-outline ?= 0 0 0 $outline alpha($primary, $outline-opacity)

/**
 * transition
 */
$transition-time ?= 0.2s
$transition-function ?= ease-in-out
/**
 * modifiers
 */
$modifiers-size ?= 'xs' 'sm' 'md' 'lg' 'xl'
$modifiers-style ?= 'block' 'disabled' 'rounded'
$modifiers-color ?= 'dark' 'light'
$modifiers-color-grad ?= 'primary' 'secondary' 'info' 'success' 'warning' 'danger'

/** 
* widths 
*/

$width-sm ?= 0.2em
$width-md ?= 0.6em
$width-lg ?= 1em
$width-xl ?= 1.4em

/** 
* heights
*/

$height-sm ?= 0.2em
$height-md ?= 0.6em
$height-lg ?= 1em
$height-xl ?= 1.4em