.container
  width: $container-xs
  margin: auto
  padding-left: $gutter
  padding-right: $gutter


  +sm-up()
    width: $container-sm

  +md-up()
    width: $container-md

  +lg-up()
    width: $container-lg

  +xl-up()
    width: $container-xl

.container-full
  width: 100%
  padding-left: $gutter-full
  padding-right: $gutter-full