_alert-color(accent, text)
  background-color: accent
  color: text

.alert
  position: relative
  display: flex
  align-items: center
  padding: 0.75em
  border-radius: 1.5em
  margin: 20px
  max-width: 500px
  box-shadow: $shadow-md, $shadow-emboss
  _alert-color: $light $dark

  generate-sizes()

  // generate color modifiers
  for color in $modifiers-color
    $accent = lookup('$' + color)
    $text = isLight(color) ? $dark : $white

    &.is-{color}
      _alert-color: $accent $text

.alert-dismiss
  margin-left: $margin
  padding: 0
  border: 0
  background-color: transparent
  cursor: pointer
  color: inherit

  &:focus
    outline: none

  &:hover
    color: $primary

.alert-content
  flex: 1 1 0%