_avatar-color(accent, text)
  background-color: accent
  color: text

.avatar
  display: inline-block
  position: relative
  width: 3em
  height: 3em
  border-radius: 10em
  margin: $margin
  box-shadow: $shadow-md, $shadow-emboss
  overflow: hidden
  _avatar-color: $light $dark

  // generate size modifiers
  generate-sizes()

  // generate color modifiers
  for color in $modifiers-color
    $accent = lookup('$' + color)
    $text = isLight(color) ? $dark : $white

    &.is-{color}
      _avatar-color: $accent $text

  img
    display: block
    border-radius: 10em
    margin: 0
    width: 100%
    height: 100%
    object-fit: cover

.avatar-initials
  display: block
  line-height: 3
  text-align: center
  font-weight: $font-weight-semi-bold

.avatar-icon
  position: absolute
  bottom: 3%
  right: 3%
  display: block
  width: 0.75em
  height: 0.75em
  border: 2px solid $white
  background: $gray