_button-color(accent, text)
  background-color: accent
  color: text
  &:hover
    background-color: lighten(accent, 30%)

_button-gradient(grad, text)
  background-image: linear-gradient($grad-direction, grad[0], grad[1])
  color: text

.button
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  margin-bottom: $margin
  padding: $padding ($padding * 2)
  outline: none
  border-style: none
  border-radius: $border-radius
  border-color: transparent
  border-width: $border
  background-clip: border-box
  vertical-align: middle
  text-align: center
  text-decoration: none
  user-select: none
  cursor: pointer
  line-height: $element-lineheight
  box-shadow: $shadow-md, $shadow-emboss
  transition: $transition-time ease-in-out
  _button-color: $light $dark

  &:not(:last-child)
    margin-right: $margin

  &:hover&:not(:focus)
    box-shadow: $shadow-lg, $shadow-emboss
    z-index: 99

  &:hover
    color: $primary
    
  &:focus
  &:active
  &.is-active
    color: $primary
    box-shadow: $shadow-md, $shadow-emboss, $shadow-outline

  // generate size modifiers
  generate-sizes()

  // generate color modifiers
  for color in $modifiers-color
    $accent = lookup('$' + color)
    $text = isLight(color) ? $dark : $white

    &.is-{color}
      _button-color: $accent $text

  // generate gradient modifiers
  for color in $modifiers-color-grad
    $grad = lookup('$grad-' + color)

    &.is-{color}.is-gradient
      _button-gradient: $grad $white

  &.is-gradient
    background-color: transparent
    background-position: -1px -1px
    background-size: calc(100% + 4px) calc(100% + 4px)

    &:focus:not(:active)
      box-shadow: 0 0 0 $outline alpha($primary, $outline-opacity)

    &:hover, &:active, &.is-active
      opacity: 0.8

    .is-disabled, &[disabled]
      border-color: $primary
      background-color: $primary

  .icon
    &:first-child:not(:last-child)
      margin-right: ($padding * 0.5)

    &:last-child:not(:first-child)
      margin-left: ($padding * 0.5)

    &:only-child
      margin: 0 ($padding * -0.5)

  .label
    margin: ($padding * -1) 0

  &.is-block
    width: 100%

  &.is-rounded
    border-radius: 10em

  &.is-disabled, &[disabled]
    opacity: 0.8
    cursor: not-allowed

@keyframes spinner-rotation
  to
    transform: rotate(360deg)