.buttons
  display: inline-flex
  flex-wrap: wrap
  align-items: center
  margin-bottom: $margin
  box-shadow: $shadow-md, $shadow-emboss
  border-radius: $border-radius
  &:not(:last-child)
    margin-right: $margin

  >:not(:last-child), >.is-rounded:not(:last-child), &.is-rounded >:not(:last-child)
    border-top-right-radius: 0
    border-bottom-right-radius: 0

  >:not(:first-child), >.is-rounded:not(:first-child), &.is-rounded >:not(:first-child)
    border-top-left-radius: 0
    border-bottom-left-radius: 0

  >.button
    margin-bottom: 0
    margin-right: 0
    box-shadow: none
    &:hover
      box-shadow: $shadow-md, $shadow-emboss

    &:focus
    &:active
    &.is-active
      box-shadow: $shadow-md, $shadow-emboss, $shadow-outline

  .button + .button
    border-left: 0
    margin-left: 0

  &.is-block
    flex-wrap: nowrap

  &.is-gradient
    border-radius: $border-radius

    >.button
      background-color: transparent
      border: 0

  &.is-rounded
    border-radius: 10em

  // generate all modifiers
  for color in $modifiers-color
    &.is-{color}
      >.button
        @extend .button.is-{color}

  for color in $modifiers-color-grad
    $grad = lookup('$grad-' + color)

    &.is-{color}.is-gradient
      background-image: linear-gradient($grad-direction, $grad[0], $grad[1])

  for size in $modifiers-size
    &.is-{size}
      >.button
        @extend .button.is-{size}

  for style in $modifiers-style
    &.is-{style}
      >.button
        @extend .button.is-{style}

  &[disabled]
    >.button
      @extend .button[disabled]
