_card-color(accent, textColor) 
    background-color: accent
    color: textColor

.card
    box-shadow: $shadow-lg, $shadow-emboss
    margin-bottom: 24px
    max-width 400px
    .card-header
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 $padding-px
        .card-header-title
            font-size: $font-lg
            font-weight: $font-weight-bold
        .card-header-icon
            cursor pointer
            &:hover 
                color: $primary
    .card-image 
        padding: 0
        object-fit cover
        width: 100%
    .card-content 
        padding: 0 $padding-px

    .card-footer
        display: flex
        justify-content: space-evenly
        padding: $padding-lg $padding-px

        .card-footer-item
            color: $link
            &:hover 
                color: $link-hover

.card-sm 
    max-width: 300px
.card-md 
    max-width: 400px
.card-lg
    max-width: 500px