.icon
  display: inline-block
  vertical-align: middle
  line-height: inherit
  width: 1.2em
  height: 1.2em
  fill: currentColor

  &:not(:last-child)
    margin-right: $margin

  // generate sizes modifiers
  generate-sizes()

  // generate color modifiers
  for color in $modifiers-color
    $color = lookup('$' + color)
    &.is-{color}
      color: $color
