_label-color(accent, textColor)
  background-color: accent
  color: textColor

.label
  display: inline-flex
  justify-content: center
  align-items: center
  overflow: hidden
  margin-bottom: $margin
  margin-right: $margin
  padding: ($padding * 0.5) $padding
  min-width: 37px
  border-radius: $border-radius
  color: $black
  vertical-align: top
  font-weight: $weight-light 
  line-height: 1
  font-size: $font-sm
  box-shadow: $shadow-sm, $shadow-emboss
  _label-color: $light $dark

  img
    margin: -0.75em
    height: 2.5em
    vertical-align: top

  .icon
    font-size: inherit
    width: 1em
    height: 1em

  .icon:first-child:not(:last-child)
  img:first-child:not(:last-child)
    margin-right: ($padding * 0.5)

  .icon:last-child:not(:first-child)
  img:last-child:not(:first-child)
    margin-left: ($padding * 0.5)

  // generate size modifiers
  generate-sizes()

  // generate color modifiers
  for color in $modifiers-color
    $accentColor = lookup('$' + color)
    $textColor = isLight(color) ? $dark : $white
    &.is-{color}
      _label-color: $accentColor $textColor

  &.is-rounded
    border-radius: 10em

  &.is-block
    display: flex
