_modal-color(accent, textColor)
  background-color: accent
  color: textColor

.modal
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: stretch
  padding: $modal-spacing
  width: 100%
  border: 0
  border-radius: $border-radius * 2
  background-color: $white
  max-width: 500px
  margin-left: auto
  margin-right: auto
  margin-bottom: $modal-spacing
  font-size: $font-md
  box-shadow: $shadow-lg, $shadow-emboss
  _modal-color: $light $dark

  for color in $modifiers-color
    $accentColor = lookup('$' + color)
    $textColor = isLight(color) ? $dark : $accentColor

    &.is-{color}
      _modal-color: $accentColor $textColor

  &.is-fit
    padding: 1em

  &.is-rounded
    border-radius: 10em

.modal-header
  position: relative
  margin-bottom: $modal-spacing

.modal-title
  margin: 0

.modal-body
  display: flex
  position: relative
  padding: 0

  *
    margin-top: 0
    margin-bottom: 0

.modal-icon
  margin-right: $modal-spacing

.modal-footer
  display: flex
  margin-top: $modal-spacing

  >*
    margin-bottom: 0

.modal-dismiss
  position: absolute
  top: 0
  padding: 1em
  border: 0
  background-color: transparent
  right: 0
  cursor: pointer

  &:focus
    outline: none

  &:hover
    color: $primary

.modal-container
  position: fixed
  top: 0
  right: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100vh
  background-color: alpha($black, 10%)
  z-index: 999

  &.is-hidden
    display: none

  &.is-visable
    display: flex
