.navbar
  display: flex
  margin: 0
  width: 100%
  padding: 0 ($padding  * 2)
  background-color: $light
  font-weight: $font-weight-semi-bold
  font-size: $font-md
  box-shadow: $shadow-md, $shadow-emboss
  color: $dark
  border-radius: 0 0 $border-radius $border-radius

  &.is-fixed
    position: fixed
    z-index: 9999
    top: 0
    left: 0
    right: 0
    transition: 0.4s

  &.is-hidden
    transform: translate3d(0, -100%, 0)



.navbar-brand
  display: flex
  align-items: center
.navbar-start,
.navbar-end
  display: flex

.navbar-brand
  margin-right: $margin
  img
    max-height: 40px
    display: block
  &.is-white
    filter: brightness(0) invert(1)
    fill: $white

.navbar-start,
.navbar-end
  flex: 1
.navbar-end
  justify-content: flex-end
.navbar-item
  display: flex
  justify-content: center
  align-items: center
  padding: 0 (2 * $padding)
  min-height: 50px
  color: $black
  text-decoration: none
  white-space: nowrap
  cursor: pointer
  font-size: $font-md
  .navbar-item
    padding: 0

  &.dropdown
    height: auto

  &:hover, &:focus
    color: $primary

  .navbar.is-inverse &,
  .navbar.is-gradient &
    color: $white

  &:hover, &:focus
    color: $primary

  &.is-active
    background-color: alpha($black, 8%)

  &:hover
    background-color: alpha($white, 8%)

  .button
    margin-bottom: 0