.pagination
  display: flex
  align-items: top
  margin: $margin 0
  flex-wrap: wrap

  &-item, &-next, &-prev, &-first, &-last
    position: relative
    display: inline-flex
    justify-content: center
    align-items: center
    margin: 0 ($margin * 0.5)
    width: 2em
    height: 2em
    outline-width: 0
    outline-offset: 0
    border: none
    text-decoration: none
    cursor: pointer
    background: $light
    box-shadow: $shadow-sm, $shadow-emboss
    font-size: $font-md
    border-radius: $border-radius
    transition: $transition-time $transition-function

    &.is-active, &:active, &:hover:not(.is-disabled)
      color: $primary
      box-shadow: $shadow-md, $shadow-emboss


    &.is-disabled
      border-color: $gray
      color: $gray

    &:focus
      outline-color: 0

    .icon
      font-size: $font-lg

  generate-sizes()