.switcher
  display: inline-flex
  margin: $margin
  vertical-align: middle

  &-input
    display: none

    &:checked
      + .switcher-body
        background-color: $primary
        padding-left: 0.5em
        padding-right: 1.3em

        .switcher-handle
          left: calc(100% - 1em)

    &[disabled]
      opacity: 0.6
      cursor: not-allowed

      + .switcher-body
        opacity: 0.6
        cursor: not-allowed

  &.is-disabled, &[disabled]
    cursor: not-allowed
    pointer-events: none
    opacity: 0.6

    .switcher-input
      cursor: not-allowed

  generate-sizes()

.switcher-handle
  position: absolute
  left: 0
  margin: -0.25em
  top: 0
  display: block
  width: 1.5em
  height: 1.5em
  background-color: $light
  content: ''
  transition: 0.3s
  border-radius: 1em
  box-shadow: $shadow-sm, $shadow-emboss


.switcher-body
  position: relative
  display: inline-flex
  padding: 0
  min-width: 2.5em
  height: 1em
  background-color: $light
  cursor: pointer
  transition: 0.3s
  justify-content: center
  align-items: center
  color: $white
  user-select: none
  border-radius: 1em
  box-shadow: $shadow-deboss
  border: 1px solid alpha($white, 10%)
  p
    font-size: 0.8em