.tabs
    ul
        border-bottom: 1px solid $slategray
        display: flex
        padding: 0
        margin-bottom 4px
     .tab
        list-style: none
        color: $black
        padding: $padding-sm $padding
        cursor pointer
        box-shadow: $shadow-md, $shadow-emboss
        margin-right $margin
        &:hover
            color $primary
            box-shadow: $shadow-deboss

        &:active
            box-shadow: $shadow-outline

.active
    border-bottom: 2px solid $primary
    color $primary!important
.tabs-center 
    display: flex
    justify-content: center
.tabs-right
    display: flex
    justify-content: flex-end
.tabs-left 
    display: flex
    justify-content: flex-start
