.table
  overflow: hidden
  width: 100%
  border-spacing: 0
  border-collapse: separate
  border-radius: $border-radius * 2
  overflow: hidden
  color: $dark
  box-shadow: $shadow-md, $shadow-emboss

  &:not(:last-child)
    margin-bottom: $margin


  thead
    font-weight: $font-weight-bold
    th
      border-top: 0
      border-bottom: $border solid alpha($white, 30%)
  tfoot
    th
      border-top: $border solid alpha($white, 30%)
      padding: ($padding * 2) $padding

  td,
  th
    padding: ($padding * 2) $padding
    border-top: $border solid alpha($white, 30%)
    background-color: $light

  // generate size modifiers
  generate-sizes()


  &.is-center
    text-align: center

  &.is-top tbody
    vertical-align: top

  &.is-bottom tbody
    vertical-align: bottom

  &.is-middle tbody
    vertical-align: middle

  &.is-header-centerd
    th
      text-align: center
  &.is-header-highlighted
    th
      background-color: $light

  tr
    for color in $modifiers-color
      $accent = lookup('$' + color)
      $text = isLight(color) ? $dark : $white
      &.is-{color}
      &.is-{color}:hover
        background-color: $accent
        color: $text
